<%- include('partials/header.ejs') %>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/img/logo.svg" alt="app logo" height="48">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Contact</h1>
        <p class="lead">We'd love to hear from you! Whether you have questions, feedback, or just want to say hello, feel free to reach </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <h2>contat@expressBlog.com</h2>
          <h2>+3455555555</h2>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footer.ejs') %>