<%- include('partials/header.ejs') %>

<div class="px-4 py-5 my-5 text-center">
    <img src="/img/logo.svg" alt="app logo" height="48">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to Express Blog</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">A place where you can create your post about your favorites topic using the power of javascript node and express Js.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Create New Post</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Contact</button>
      </div>
    </div>
</div>
<% if(userPost.length < 1){ %>
    <div class="px-4 py-5 my-5 text-center">
        <h1>No post to show Here Pleseacre create new one 😔.</h1>
    </div>
<% }else{  %>
    <div class="px-4 row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
    </div>
<% } %>


<%- include('partials/footer.ejs') %>
