<%- include('partials/header.ejs') %>
<h1 class="text-center">Crete New post</h1>
<div class="container">
    <form action="/submit" method="POST">
        <div class="form-group py-1">
        <label for="exampleFormControlInput1">Post name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Post name">
        </div>
        <div class="form-group py-1">
        <label for="exampleFormControlInput1">Image Url</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Image url">
        </div>
        <div class="form-group py-1">
        <label for="exampleFormControlTextarea1">Post Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
</div>

<%- include('partials/footer.ejs') %>